.TodoItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #dddddd;

	&_completed {
		text-decoration: line-through;
	}

	&__container {
		display: flex;
		align-items: center;
	}
	&__checkbox {
		margin-right: 10px;
		min-width: 15px;
		min-height: 15px;
		width: 15px;
		height: 15px;
	}
	&__text {
		display: inline-block;
	}
	&__button {
		min-width: 15px;
		min-height: 15px;
		width: 15px;
		height: 15px;
		fill: #924141;
		cursor: pointer;
		&:hover {
			fill: green;
		}
	}
}